#! /bin/bash

# Prepare identity authentication of this VM
curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fmanagement.azure.com%2F' -H Metadata:true -s
az login --identity --allow-no-subscriptions
DB_PASSWORD=$(az keyvault secret show --vault-name {{ key_vault_name }} --name {{ db_secret_name }} --query "value" --output tsv)

sed -i "s/DB_PASSWORD_TOKEN/$DB_PASSWORD/" /opt/sonarqube/conf/sonar.properties

az logout